<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mywallet" (click)="changes()">
      <ion-icon name="home" size="large"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person" size="large"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="home2">
      <ion-icon name="wallet" size="large"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="toggleMenu()">
      <ion-icon name="menu" size="large"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>