<!-- <ion-header>
  <ion-toolbar>
    <ion-title>search-action</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <img width="100" src="assets/theme-icon/qustion-icon.svg" alt="" />
      </ion-col>
      <ion-col size="12">
        <p>Allow Friend Access?</p>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="theme-red-btn" (click)="dismiss()"
          >NO</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="theme-green-btn">YES</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
