.list_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;

  .list_header-left {
    color: var(--ion-color-dark);
    font-size: 125%;
    font-family: var(--ion-sixth-font);
  }

  .list_header-right {
    color: var(--ion-color-primary);
    font-size: 100%;
    font-family: var(--ion-sixth-font);
  }
}