<!-- <ion-header>
  <ion-toolbar>
    <ion-title>logout</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <img width="100" src="assets/theme-icon/logout.svg" alt="" />
      </ion-col>
      <ion-col size="12">
        <p>Are you sure you want to log out?</p>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" (click)="dismiss()"
          >Cancel</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" color="danger"
          >LOG OUT</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
