<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-icon slot="start" name="arrow-back-outline" routerLink="/tabs/mywallet"></ion-icon> -->
    <ion-title>Add Bank Accounts</ion-title>
    <!-- <ion-title>Add Funding Sources</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="plaid-logo" src="assets/images/logo2.png" />
  <!-- <ion-button expand="full" (click)="openLinkWithInstitution()">Get your bank</ion-button> -->
  <ion-button expand="full" (click)="openLink()">Connect your bank</ion-button>
  <!-- <ion-button expand="full" (click)="get_dwolla_iav_token()">Connect your Sources</ion-button> -->
</ion-content>
